@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
* {
  box-sizing: border-box;
  font-family: "Inter";
}
body {
  background: #121212;
  color: #ededed;
  padding: 0;
  margin: 0;
}
nav {
  border: 1px solid #2c2c2c;
  height: 35px;
  display: flex;
  align-items: center;
  background: #1c1c1c;
}
#title {
  user-select: none;
  font-size: 15px;
  margin-left: 10px;
  -webkit-app-region: drag;
}
:not(nav) {
  -webkit-app-region: no-drag;
}
.nav-buttons {
  margin-left: auto;
  height: 100%;
  display: flex;
}
.nav-buttons > button {
  transition: background .2s ease;
  background: #1c1c1c;
  border: none;
  height: 100%;
  margin: 0;
  aspect-ratio: 1;
  color: #ededed;
  font-size: 17px;
}
.nav-buttons > button:hover {
  transition: .2s ease;
  background: #2c2c2c;
  cursor: pointer;
}
.nav-buttons > button:active {
  background: #4c4c4c;
}